@model Animal

<div class="row">
    <div class="col-md-5 text-center">
        <img src="@(Model.ImageUrl ?? "https://thumbs.dreamstime.com/b/no-image-icon-vector-available-picture-symbol-isolated-white-background-suitable-user-interface-element-205805243.jpg")" alt="@Model.Name" class="img-fluid rounded" />
    </div>
    <div class="col-md-7">
        <h2>@Model.Name</h2>
        <p class="text-muted">Категорія: @Model.Category?.Name</p>
        <p>
            <b>Вік:</b>
            @if (Model.Age == 0)
            {
                <span>Менше року</span>
            }
            else
            {
                <span>@Model.Age років</span>
            }
        </p>
        <p><b>Стать:</b> @Model.Gender</p>
        <p>
            <b>Статус:</b>
            @if (Model.Status == "Доступний")
            {
                <span class="badge bg-success">@Model.Status</span>
            }
            else if (Model.Status == "Зарезервований")
            {
                <span class="badge bg-warning">@Model.Status</span>
            }
            else
            {
                <span class="badge bg-secondary">@Model.Status</span>
            }
        </p>
        <div>
            <b>Опис:</b>
            <p>@(string.IsNullOrWhiteSpace(Model.Description) ? "Опис відсутній" : Model.Description)</p>
        </div>

        <div class="mt-4 d-flex gap-2">
            <a asp-action="Index" class="btn btn-dark">Назад</a>
            <a asp-controller="Favorite" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add to Favorite</a>
            
        </div>
    </div>
</div>


